node_modules/
cache*/
dist
public
*.log
.DS_Store
data/*
!data/*
*.terraform.lock.hcl
.env
cache.zip
.idea/*
logs/
coverage/
.idea/
2021-22-cache/dev_data/v2/classes.cache.json
2021-22-cache/requests/classParser.cache.msgpack
2021-22-cache/requests/termParser.cache.msgpack
2021-22-cache/requests/subjectAbberviationParser.cache.msgpack
