node_modules/
cache*/
dist
public
*.log
.DS_Store
data/*
!data/*
*.terraform.lock.hcl
.env
cache.zip
.idea/*
logs/
coverage/
.idea/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
