version: "2"

services:
  postgresql:
    image: postgres:11.19-bullseye
    ports:
      - 5432:5432
    volumes:
      - ./docker-postgresql-multiple-databases:/docker-entrypoint-initdb.d
      - pg:/var/lib/postgresql/data
    environment:
      - POSTGRES_MULTIPLE_DATABASES=searchneu_dev,searchneu_test
      - POSTGRES_USER=postgres
    env_file:
      - ../../.env
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.1.0
    ports:
      - 9200:9200
    environment:
      - discovery.type=single-node
volumes:
  pg:
