version: "2"

services:
  postgresql:
    image: postgres:11.1
    ports:
      - 5432:5432
    volumes:
      - ./docker-postgresql-multiple-databases:/docker-entrypoint-initdb.d
      - pg:/var/lib/postgresql/data
    environment:
      - POSTGRES_MULTIPLE_DATABASES=searchneu_dev,searchneu_test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
    ports:
      - 9200:9200
    environment:
      - discovery.type=single-node
volumes:
  pg:
