name: Lint

on: pull_request

jobs:
  prettier:
    name: prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Prettify code
        uses: creyD/prettier_action@v3.0
        with:
          prettier_options: --write **/*.{js,ts}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install node v14.18
        uses: actions/setup-node@v2
        with:
          node-version: "14.18"
      - uses: bahmutov/npm-install@v1
      - run: yarn lint
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install node v12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - uses: bahmutov/npm-install@v1
      - run: yarn test
        env:
          TWILIO_ACCOUNT_SID: AC_dummy_value_so_tests_dont_error_out
          TWILIO_AUTH_TOKEN: 123
